<!DOCTYPE html>
<html lang ="eng">
<head>
    <meta charset=""UTF-8">
    <meta name = "viewport" content="width=device-width", initial-scale="1.0">
    <title>Workweek and Weekend</title>
</head>
<body>
    <h1>Hey, its <%= dayType %>, <%= advice %>!</h1>
</body>
</html>